.card {
    margin-top: 10px;

    border: none;
    width: 500px;
padding: 40px;
position: absolute;

left: 50%;
transform: translate(-50%,50%);
background: black;
}
h6{
    color: white;
}
    
h4{
    color: white;
    text-align: left;
    
}
.container
{
    margin-top: 10px;
}